In [2]:
import pandas as pd

%matplotlib inline

In [3]:
train = pd.read_csv('../input/train.csv')
print(train.shape)
train.head()

(33126, 8)

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0

In [6]:
train['patient_id'].value_counts()

IP_4382720    115
IP_4938382    115
IP_7279968    115
IP_4479736    115
IP_0656529    114
             ...
IP_6661651      3
IP_8252567      3
IP_0725027      3
IP_6678597      3
IP_8335299      2
Name: patient_id, Length: 2056, dtype: int64

In [4]:
train.groupby('benign_malignant')['target'].value_counts()

benign_malignant  target
benign            0         32542
malignant         1           584
Name: target, dtype: int64

In [3]:
test = pd.read_csv('../input/test.csv')
print(test.shape)
test.head()

(10982, 5)

     image_name  patient_id     sex  age_approx anatom_site_general_challenge
0  ISIC_0052060  IP_3579794    male        70.0                           NaN
1  ISIC_0052349  IP_7782715    male        40.0               lower extremity
2  ISIC_0058510  IP_7960270  female        55.0                         torso
3  ISIC_0073313  IP_6375035  female        50.0                         torso
4  ISIC_0073502  IP_0589375  female        45.0               lower extremity